#!/bin/sh

if [ ! -f "$HOME/.xsync" ]; then
    mon=$(xrandr -q | grep -w connected | awk '{print $1}')
    xrandr --output $mon --auto
    res=$(xrandr | sed "s/x/\ /g" | grep \* | awk '{print $1}')
    scale=$(bc -l <<< "2560/$res")
    xrandr --output $mon --scale $scale
else
    $HOME/.xsync
fi

xrdb ~/.config/Xresources
pOS-setbg &			# set the background
isvm=$( hwinfo | grep Virtual )
if [[ -z $isvm ]]; then
    picom --experimental-backends --backend glx &		# picom for transparency and rounded corners
else
    picom &
fi
pOS-conky &
dunst &			# dunst for notifications
pOS-remaps &		# run the remaps script, switching caps/esc and more; check it for more info
xset r rate 250 40 &	# Speed xrate up
unclutter &		# Remove mouse when idle
dex -a & # Start xdg autostart
