#!/bin/sh

xrdb ~/.config/Xresources
mpd &			# music player daemon-you might prefer it as a service though
pOS-setbg &			# set the background
isvm=$( hwinfo | grep Virtual )
if [[ -z $isvm ]]; then
    picom --experimental-backends --backend glx &		# picom for transparency and rounded corners
else
    picom &
fi
dunst &			# dunst for notifications
pOS-remaps &		# run the remaps script, switching caps/esc and more; check it for more info
[[ -f /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 ]] && /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
pulseaudio --start
xset r rate 250 40 &	# Speed xrate up
unclutter &		# Remove mouse when idle
dex -a # Start xdg autostart
