#!/bin/sh

[[ -f "$HOME/.xsync" ]] && $HOME/.xsync || xrandr --auto

xrdb ~/.config/Xresources
pOS-setbg &			# set the background, use this script to set your own background
# Below sources configuration file to fetch picom
picom & # Run picom as default compositor (Enable experimental backends from ~/.config/phyos/phyos.conf)
pOS-conky &
dunst &			# dunst for notifications
[[ -f /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 ]] && /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
nm-applet &
pOS-remaps &		# run the remaps script, switching caps/esc and more; check it for more info
# eval `ssh-agent` # Uncomment this if using ssh
